<nav class="navbar navbar-light bg-success">
  <div class="container d-flex justify-content-between">

    <a href="/" class="text-decoration-none">
    <span class="navbar-brand mb-0 h1"><i class='bx bxs-home bx-md' ></i></span>
    </a>
  </div>
</nav>


